body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(240, 240, 200), rgb(164, 49, 49));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Class */

.flex{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.winecard {
  flex: auto;
  text-align: center;
  max-width: 400px;
  max-height: 360px;
  background-color: antiquewhite;
}

.headline {
  font-size: larger;
  font-weight: 700;
}

.outline {
  border: solid;
  color: rgb(5, 5, 50);
  border-radius: 4px;
  margin: 8px;
}

.slideLabel {
  font-size: 30px; 
}
.sliderSelect,
.typeSelect,
.labels {
  border-style: solid; 
  border-radius: 10px;
  margin: 5px;
  padding: 5px; 
  background-color: #fed8d8;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.submitBtn {
  background-color:#800000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 5px; 
}

.selectOption {
  font-size: 20px;
  margin-bottom: 10px;
}

.buttonYes {
  margin-left: 20%;
}